---
layout: default
title: "Hacking EdgeFest 2014"
facebook_image: "http://www.edgefest.fr/img/edgefest-hacking.jpg"
facebook_description: "Durant quatre jours, EdgeFest by Alsace Digitale proposera des rendez-vous variés et novateurs autour des thèmes de l’innovation, du numérique, de l’entrepreneuriat, de l’art et de la culture. Ce festival a pour ambition de démontrer le potentiel que le croisement de ces différentes disciplines peut générer, en termes de créativité et de développement économique."
---
<!--{% include callforprojects.html %}-->
{% include project.html %}
