<section class="edgenight" id="edgenight">
    <div class="container">
        <h2>Les jeux</h2>
        <div class="row row-games">
            <div class="col-xs-6">
                <h3 id="flappy">Flappy Fest</h3>
                <p class="mt-20">
                    Auteur : Florian Fries
                </p>
                <p class="mt-20">
                    Flappy Fest est la version laser du célèbre jeu Flappy Fest. Aidez votre smiley à survivre aux
                    méchantes colonnes qui traversent l'écran !
                    Jeux pour 2 joueurs.
                </p>
                <p class="mt-20">
                    Code source : <a href="https://github.com/FriesFlorian/edge-laser-flappyfest">https://github.com/FriesFlorian/edge-laser-flappyfest</a>
                </p>
                <p class="mt-20">
                    <a href="#navgames">Retour à la liste des jeux</a>
                </p>
             </div>
            <div class="col-xs-6">
                <p>
                    <img class="hack-img" src="img/flappy_fest.jpg">
                </p>
            </div>
        </div>
        <div class="row row-games">
            <div class="col-xs-6">
                <h3 id="cannons">Cannons</h3>
                <p class="mt-20">
                    Auteur : Morgan Touverey-Quilling
                </p>
                <p class="mt-20">
                    Caché dans votre bunker, vous ajustez avec une précision redoutable votre tir d'artillerie afin
                    d'être le seul survivant dans cette bataille sans merci !
                </p>
                <p class="mt-20">
                    Code source : <a href="https://github.com/morgan-linux/edge-laser-simulator">https://github.com/morgan-linux/edge-laser-simulator</a>
                </p>
                <p class="mt-20">
                    <a href="#navgames">Retour à la liste des jeux</a>
                </p>
            </div>
            <div class="col-xs-6">
                <p>
                    <img class="hack-img" src="img/canons.jpg">
                </p>
            </div>
        </div>
        <div class="row row-games">
            <div class="col-xs-6">
                <h3 id="edgesteroid">Edge Steroid</h3>
                <p class="mt-20">
                    Auteur : Yannick Jost
                </p>
                <p class="mt-20">
                    Clone d'Asteroid. Vous combattez votre adversaire aux commandes de votre vaisseau spatial.
                    Détruisez-le avec votre rayon laser, mais attention aux astéroïdes flottants dans l'espace, et ne
                    vous laissez pas surprendre par l'absence de gravité !
                </p>
                <p class="mt-20">
                    Code source : <a href="https://github.com/yanjost/edge-laser-python">https://github.com/yanjost/edge-laser-python</a>
                </p>
                <p class="mt-20">
                    <a href="#navgames">Retour à la liste des jeux</a>
                </p>
            </div>
            <div class="col-xs-6">
                <p>
                    <img class="hack-img" src="img/edge_steroid.jpg">
                </p>
            </div>
        </div>
    </div>
</section>
