<section class="edgenight" id="edgenight">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>HACKING EDGEFEST 2014</h2>
                <!--<p class="date">Date : Vendredi 4 juillet, de 19h à 24h00</p>-->
                <!--<p class="venue">Lieu : Presqu'île Malraux, devant la Médiathèque</p>-->
                <!--<p class="type">Événement gratuit, entrée libre. <a href="https://www.facebook.com/events/1523311834556366">Indiquez votre présence sur l'événement Facebook !</a></p>-->
                <!--<p>-->
                <!--<img src="/img/edgenight1.jpg" />-->
                <!--</p>-->
                <a href="concept"></a>
                <h3>Concept</h3>

                <p class="concept">
                    Le principe de cet évènement est de s'approprier la presqu'île en la "hackant" à notre manière. Le
                    but est de montrer
                    l'impact d'Alsace Digitale et de sa communauté sur l'îlot Malraux.
                </p>

                <p class="concept">Après une étude approfondie qui nous a fait abandonner une première version à base de
                    LEDs, nous
                    avons prévu de permettre de jouer à des jeux vidéos sur la médiathèque.</p>

                <a name="phys"></a>
                <h3>Installation physique</h3>

                <p>
                    L'installation est constituée de 3 éléments de base :
                <ul>
                    <li>Des manettes de jeu sur le quai Jeanne Helbling (manettes de XBOX)</li>
                    <li>Un projecteur Laser et un PC le contrôlant à La Plage</li>
                    <li>La surface de projection constituée par la médiathèque</li>
                </ul>
                </p>

                <p>
                    <img class="big" src="img/concept.jpg"/>
                </p>

                <a name="howto"></a>
                <h3>Comment contribuer ?</h3>

                <p>
                    C'est là où ça devient marrant : tout le monde peut contribuer !
                </p>

                <p>La joyeuse équipe du HackSXB a dévelopé pour vous une API faisant abstraction des contraintes matérielles.
                Vous allez pouvoir, dans la moiteur de votre appartement (où La Plage lors des soirées dédiées), développer un jeu
                qui s'affichera sur la médiathèque.
                </p>

                <p>
                    Vous avez "simplement" à développer la boucle principale de votre jeu, c'est à dire analyser les entrées
                    au clavier (ou manette) et décider quoi dessiner.
                </p>

                <p>
                    Les implémentations de l'API sont les suivantes :
                    <ul>
                        <li>PHP</li>
                        <li>C# (en cours)</li>
                        <li>Python (en cours)</li>
                    </ul>
                </p>

                <p>
                    Pour commencer à développer votre jeu dans le simulateur, clonez le dépôt Github suivant :
                    <a href="https://github.com/morgan-linux/edge-laser-simulator">https://github.com/morgan-linux/edge-laser-simulator</a>.
                </p>

                <p>
                    Ce repo Git contient aussi une implémentation de référence en PHP de client de l'API. Bientôt la suite !
                </p>


                <a name="help"></a>
                <h3>Comment obtenir de l'aide ?</h3>
                <p>
                    Vous pouvez obtenir de l'aide en vous inscrivant au Google Group suivant :
                    <a href="https://groups.google.com/forum/#!forum/edgefest-hacking">edgefest-hacking</a>
                </p>


                <a name="api"></a>
                <h3>API</h3>
                <p>
                    Normalement vous n'avez pas besoin de lire ce document à moins de vouloir implémenter l'API dans un
                    nouveau langage. <a href="https://docs.google.com/document/d/17oRVoBXWnDxoEMxK4gcXEhL2thYuCHBJspzA1fRGEeo/edit?usp=sharing">
                    Edge Laser Control - Protocole d'affichage
                    </a>
                </p>


                <!--<div class="col-xs-6">-->
                <!--<div class="row">-->
                <!--<div class="col-xs-4"><div class="thumbnail"><img src="img/edgenight_beach_small.jpg" /></div></div>-->
                <!--<div class="col-xs-4"><div class="thumbnail"><img src="img/edgenight_seegmuller_small.jpg" /></div></div>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
</section>
